
.board {
    margin: 3rem;
    position: absolute;
    left: 37%;
    width: auto;
    border: 5px solid rgb(11, 20, 70);
}

.board button {
    width: 100px;
    height: 100px;
    margin: 1px;
    border-color: bisque;
    font-size: 3.5rem;
}

.winner {
    font-size: 2rem;
    margin-top: 3rem;
    text-align: center;
    background-color: rgb(11, 20, 70);
    color: #fff;
}